
.container {
  display: flex;
  flex-direction: row;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
}


.socialIcon:hover {
  filter: opacity(70%);
  cursor: pointer;
}
